.header{
  background-image: url(../Assets/hero-bg.png);
  background-repeat: no-repeat;
    background-size: cover;
  background-position: center;  
  height: auto;
  
  
}

/* Nav Styles */

nav{
display: flex;
justify-content: space-between;
align-items: center;
margin: 50px 100px;

}

nav ul li{
  list-style: none;
}

button{
  background-color: #533ae6;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
button:hover{
  background-color: tomato;
}

/* Banner Section */

.banner{
  text-align: center;
  margin: 50px 100px;
  padding: 20px;
}


/* Action Section */

.action-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px;
}

.coloum2 img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.coloum1 button:hover{
  background-color: tomato;
 }



